.containerNews {
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
  box-shadow: 0 0 5px grey;
  display: flex;
  flex-direction: column;
}

.containerLi {
  position: relative;
}

.title {
  padding: 20px;
  position: relative;
  text-align: center;
  height: 100px;
}
.btnLike {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background-color: inherit;
}
.h2News {
  font-size: 2em;
  font-weight: bold;
}
.headerBgSrc {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -10;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.category,
.body,
.date,
.trashIcon {
  padding: 20px;
}

.containerDate {
  display: flex;
}

.trashIcon {
  border: none;
  background-color: inherit;
  margin-left: auto;
}
